<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    {% block content %}
        <div class="ui main text container">
            <div class="column">
                {% for post in posts %}
                <div class="ui raised segment">
                    <h1 class="ui header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>Published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
               {% endfor %}
            </div>
        </div>
    {% endblock %}
</body>
</html>