<!DOCTYPE html>
{% extends 'blog/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft posts</title>
</head>
<body>
    {% block content %}
        <div class="ui main text container">
            <div class="column">
                {% for post in posts %}
                <div class="ui raised segment">
                    <h1 class="ui header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>Created: {{ post.created_date|date:'d-m-Y' }}</p>
                    <p>{{ post.text|truncatechars:200 }}</p>
                </div>
               {% endfor %}
            </div>
        </div>
    {% endblock %}
</body>
</html>